currency = "₱"

[gsheet]
credentials_json = ""
gsheet_worksheet_id = ""

[telegram]
telegram_token = ""
restrict_access = false
list_of_users = [] # Comma separated list of user ids

[app]
update_mode = ""
secret = ""
app_name = ""
port = 